
<article class = "container">
  <form action = "/login" method = "post">
  <input type = "text" name = "username" placeholder = "USERNAME">
  <input type = "text" name = "password" placeholder = "PASSCODE">
  <input type = "submit" value = "CLICK TO LOGIN">
  </form>
  <div class = "back"><p class = "label">GO BACK</p></div>

</article>
