
<article class = "container">
  <form action = "/signup" method = "post">
  <input type = "text" name = "username" placeholder = "USERNAME">
  <input type = "text" name = "password" placeholder = "PASSCODE">
  <input type = "submit" value = "CLICK TO SIGNUP">
</form>
  <div class = "back"><p class = "label">GO BACK</p></div>
</article>
