
<article class = "container">
  <div class = "signup"><span class = "label">SIGNUP</span></div>
  <div class = "login"><span class = "label">LOGIN</span></div>
  <div class = "about"><span class = "label">WAT IS WAT?</span></div>
  <div class = "recover"><span class = "label">RECOVER PASS</span></div>
</article>

